.intro{

    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100vh;
    padding-top: 100px;
    background: #313550 url(/src/img/fon.jpg) center no-repeat;
    background-size: cover;
}


.overlay {
    background: rgba(0,0,0,0.3);
    height: 100vh;
    margin: 0;
    padding: 0;
}




.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
